/* GridBackgroundDemo.css */
:root {
    --grid-color: rgba(0, 0, 0, 0.2);
  }
  
  .dark .bg-grid-white {
    --grid-color: rgba(255, 255, 255, 0.2);
  }
  
  .bg-grid-black {
    background-image: linear-gradient(90deg, var(--grid-color) 1px, transparent 1px),
                      linear-gradient(var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  
  .dark .bg-grid-white {
    background-image: linear-gradient(90deg, var(--grid-color) 1px, transparent 1px),
                      linear-gradient(var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  